#PortfolioTitle{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;

}

#AboutMeTitle{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;

}

#Project1{
     background-color:lightblue;

}

#Project2{
    background-color:lightblue;
}

#Project3{
    background-color:lightblue;
}

#good{
    background-color:lightblue;
}

#interest{
    background-color:lightblue;
}