body{
    display: flex;
    flex-direction: column;
}

.navitem:hover{
    background-color: darkblue;
    color: whitesmoke;
}

#PortfolioTitle{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;

}

#AboutMeTitle{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;
}

#name{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;

}

#motto, #mission{
    background-color:lightblue;

}

#Project1, #Project2, #Project3{
     background-color:lightblue;
}

#project{
    margin-left: 200;
    margin-top: -120;
    width: 200;
}

#math{
    margin-left: 200;
    margin-top: -120;
}

#tech{
    margin-left: 200;
    margin-top: -115;
}

#good, #interest, #aboutmetext{
    background-color:lightblue;
}
