body{
    display: flex;
    flex-direction: column;
}

nav{
    color:black;
    background-color:cadetblue;
}

#sharulpic{
    width: 40%;
    height: auto;
}

.index{
    display: flex;
    flex-direction: row;
}

.navitem:hover{
    background-color: darkblue;
    color: whitesmoke;
}

#name:hover{
    background-color: darkblue;
    color: whitesmoke;
}

#AboutMeTitle:hover{
    background-color: darkblue;
    color: whitesmoke;
}

#PortfolioTitle:hover{
    background-color: darkblue;
    color: whitesmoke;
}

#PortfolioTitle{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;

}

#AboutMeTitle{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;
}

div{
    display: flex;
    flex-direction: column;
}
.card{
    margin: 1%;
}

#name{
    background-color:rgb(62, 123, 173);
    text-decoration-line: underline;

}

#motto, #mission{
    background-color:lightblue;
    padding: 2%
}


#Project1, #Project2, #Project3{
     background-color:lightblue;
}

#project{
    margin-left: 200;
    margin-top: -120;
    width: 200;
}

#math{
    margin-left: 200;
    margin-top: -120;
    width: 25%;
    height: auto;
}

#tech{
    margin-left: 200;
    margin-top: -115;
    width: 25%;
    height: auto;
}

#good, #interest, #aboutmetext{
    background-color:lightblue;
}

@media (max-width: 500px ){
    body{
        background-color:darkgrey;
    }  
}

@media (max-width: 300px ){
    body{
        background-color:blue;
    }  

}

